html {
    height: 100%;
    margin: 0px;
    padding: 0px;      
    direction: rtl;        
}
body {
    overflow-y: auto;
    overflow-x: hidden;       
    direction: rtl;    
    margin: 0px;
    padding: 0px;   
    font-weight: normal;
    background: #f4f4f4;
}

.ltr{
    direction: ltr !important;
    display: inline;
}

@font-face {  
    font-family: hacen_font ;  
    src: url("assets/fonts/GESSTwoMedium.otf") format("opentype");  
    unicode-range:"U+0-10FFFF";
}  

.nice_font{
    font-family: hacen_font !important;
}

.container{
    padding:0px;
}

label{
    font-family:arial;
    font-size:16px;
}

input{
    font-family:tahoma;
    font-size:11x;    
}

.row{
    margin:0px;
}

.btn{
    border-radius:0px;
    border-top-width:0px;
    border-right-width:0px;
    border-left-width:0px;
    border-bottom-width:3px;
}

.header_rainbow{
    width:100%;        
}

.header_rainbow .col-xs-2{
    height:15px;    
}

.header_rainbow .c-1{ background: #d12e30;  }
.header_rainbow .c-2{ background: #ea9365;  }
.header_rainbow .c-3{ background: #980a0a;  }
.header_rainbow .c-4{ background: #cb2e2e;  }
.header_rainbow .c-5{ background: #71165c;  }
.header_rainbow .c-6{ background: #e97f6b;  }
.header_rainbow .c-7{ background: #7e2717;  }
.header_rainbow .c-8{ background: #d12e30;  }
.header_rainbow .c-9{ background: #c20c15;  }
.header_rainbow .c-10{ background: #ea9365;  }
.header_rainbow .c-11{ background: #71165c;  }
.header_rainbow .c-12{ background: #cb622e;  }

#header{
    background:#e1e1e1;
    padding:40px 20px;
}


#header_left{
    text-align: center;
}

.social_icons{
    margin-top:10px;
}

.social_icons,.social_icons li{
    list-style: none;
    padding:0px;
}

.social_icons li{
    display: inline-block;
}

.social_icons li a img{
    width:48px;
    height:48px;
}







   
  
  

/* Example wrapper */
.wrap {
    position: relative;
    background: transparent;

}

/* Frame */
.frame {
    overflow: hidden;
    background: transparent;
 
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
   
}
.frame ul li {            
    float: left;    
    width: 1170px;
    height: 320px;
    margin: 0 1px 0 0;
    padding: 0;
    background-color: #333;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}
.frame ul li.active {
    color: #fff;
    background-color: #a03232;
}


/* Pages */
.pages {
    list-style: none;

    text-align: center;
    background: transparent;
    position:absolute;
    top:20px;
    left:0px;
}
.pages li {
    display: inline-block;
    width: 60px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    cursor: pointer;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
    background: rgba(212,23,55,0.8);
}
.pages li.active {    
    background: rgba(0,0,0,0.8);
}


.features .col-sm-4{
    color:#fff;
    padding:10px;
}

.features .col-sm-4 h2{
    font-size:45px;
}

.features .col-sm-4 h4{
    font-size:16px;
    line-height: 30px;
}

.features .c-1{
    background:#a9192a;
}

.features .c-2{
    background:#d12e30;
}

.features .c-3{
    background:#ea9365;
}







.reg_now{ 
    background:#e1e1e1;    
    padding:90px 20px;
    text-align: center;
}

.reg_now .btn{
    font-size:40px;
}







.footer{
    background:#646464;
    padding:20px 10px 10px 10px;
    color:#fff;    
}

.footer .important_links a{
    color:#fff;            
    font-family: tahoma;
}



.footer .copyrights{
    border-top:3px dashed rgba(255,255,255,0.4);
    margin-top:30px;
    padding-top:20px;
    padding-bottom:5px;
    font-size:12px;
    font-family: tahoma;    
}

.footer .copyrights a{
    color:#aac610;
    font-family: tahoma;        
}

.footer .copyrights .copy-text{
    text-align: right;
    font-family: tahoma;        
}


.footer .copyrights .design-by{
    text-align: left;
    font-family: tahoma;        
}
