body {
  background: #f1f1f1; 
}

.dars{
    background:white; 
width: 350px;
  height: 150px;
}

#website_title{
    background:#2c3240;
    color: white;
}

#android_title {
    background:yellow;
}

.dars_title {
  height: 30px;
  text_align:center;
  padding-top:10px
}


.photo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%)


