body {
  background: #f1f1f1;
}
 
.dars{
  background:white;
  width: 350px;
  height: 150px;
  height: 100px;
  position: absolute;
  top: 22%;
  left: 86.5%;
  transform: translate(-50%, -50%)
}
 
#website_title{
    background:#2c3240;
    color: white;
}
 
#android_title {
    background:yellow;
}
 
.dars_title {
  height: 30px;
  text_align:center;
  padding-top:10px
}

.photo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 96.10%;
    left: 90.5%;
    transform: translate(-50%, -50%)
        
.button1{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%)
      
      
      
      
      
      
      ul{
  list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%
          background-color#f1f1f1;
     
  }
  
  ul li{
  width: 80px;
    float: left;
    background-color#f1f1f1
  
  }

  
  li a{
  display: block;
    color: #000
      padding: 8px 0px 8px 16px;
    text-decoration: none;
  
  }
  
  li a:hover{
    background-color: #555;
    color: white;
  
  }
